@model TimeTracker.Models.SystemLog.SystemLogViewModel
@using TimeTracker_Model;
@{
    ViewData["Title"] = "Create SystemLog";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Create Log</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Log</a></li>
            <li class="breadcrumb-item active">Create Log</li>
        </ol>
    </div>
}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-lightblue card-outline">
                <div class="card-header">
                    <h3 class="card-title font-color">
                        <i class="fa-solid fa-user-clock"></i>
                        Create Log
                    </h3>
                </div>
                <form asp-action="Create">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label asp-for="UserId">Username</label>
                                <select asp-for="UserId" asp-items="ViewBag.Users" class="form-control form-control-sm">
                                <option value="">Select Username</option>
                                </select>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="LogType">Log Type</label>
                                <select asp-for="LogType" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<LogTypes>()">
                                    <option value="">Select Log</option>
                                </select>
                                <span asp-validation-for="LogType" class="validation-color"></span>
                            </div>

                            <div class="form-group col-md-3">
                                <label asp-for="LogTime">Log Time</label>
                                <input asp-for="LogTime" type="datetime-local" class="form-control form-control-sm" placeholder="LogTime">
                                <span asp-validation-for="LogTime" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" type="text" class="form-control form-control-sm" placeholder="Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-info theme-color" value="Submit" />
                        <button type="reset" class="btn btn-secondary ml-1">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts{
    <script>
        $(document).ready(function () {
            SelectedMenu('menuAttendance', 'menuSystemLog');
        });
    </script>
}