@using TimeTracker_Model
@{
    ViewData["Title"] = "Daily Log";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Daily Log</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Daily Log</li>
        </ol>
    </div>
}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-lightblue card-outline">
                <div class="card-header">
                    <h3 class="card-title font-color">
                        <i class="fa-solid fa-user-clock"></i>
                        Daily Log
                    </h3>
                    <div style="float:right; display:flex;">
                        <div style="display:flex;float:left;margin-top:2px;">
                            <i class="fas fa-clock font-color" style="margin-top:5px; margin-right: 3.5px;"></i>
                            <h5 class="font-color" style="margin-bottom:0px;"><span id="spnLastTime">@ViewBag.LastTime</span></h5>
                        </div>
                    @if ((int)ViewBag.RoleId == (int)Roles.Admin)
                    {
                        <div style="float:right; margin-left:5px;">
                            <select class="form-control form-control-sm" asp-items="ViewBag.Users" id="cmbUser">
                                <option value="0">Select User</option>
                            </select>
                        </div>
                    }
                    <div style="float:right; margin-left:5px;">
                        <input type="date" class="form-control form-control-sm" value="@DateTime.Now.Date" id="txtDate" />
                    </div>
                    @if ((int)ViewBag.RoleId == (int)Roles.Admin)
                    {
                        <div style="float:right;margin-left:5px;">
                            <a asp-action="Create" class="btn btn-block btn-info btn-sm theme-color">Create</a>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-bordered table-striped" id="tblSystemLogs">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Log Type</th>
                                        <th>Description</th>
                                        <th>Log Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/systemlog.js"></script>

    <script>
        $(document).ready(function () {
            startTimeLog();
            SelectedMenu('menuAttendance', 'menuSystemLog');
            bindDataTable();
        });
    </script>
}