@using TimeTracker_Model
@{
    ViewData["Title"] = "Monthly Report";

    int? userId = 0;
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Monthly Report</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Monthly Report</li>
        </ol>
    </div>
}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-lightblue card-outline">
                <div class="card-header">
                    <h3 class="card-title font-color">
                        <i class="fa-solid fa-chart-line"></i>
                        Monthly Report
                    </h3>
                    <div style="float:right; display:flex;">
                        <div style="float:left;">
                            <h5 class="font-color" style="margin:3px 0px;"><span id="spnLastTime" style="font-size: 1.1rem;">Total Hours: <span id="spnTotalMonthTime">00:00</span> </span></h5>
                        </div>
                    @if ((int)ViewBag.RoleId == (int)Roles.Admin)
                    {
                        <div style="float:right; margin-left:5px;">
                            <select class="form-control form-control-sm" asp-items="ViewBag.Users" id="cmbUser">
                                <option value="0">Select User</option>
                            </select>
                        </div>
                    }
                    <div style="float:right;margin-left:5px;">
                        <input class="form-control form-control-sm datepicker" data-date-format="MM-yyyy" id="txtDate" style="width: 120px;">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-bordered table-striped" id="tblMonthlyReport">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Username</th>
                                        <th>StartingTime</th>
                                        <th>ClosingTime</th>
                                        <th>Total Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>@ViewBag.a</p>

@section Scripts{
    <script src="~/js/systemlog.js"></script>

    <script>
        $(document).ready(function () {
            SelectedMenu('menuAttendance', 'menuMonthlyReport');
            bindMRDataTable();

            $('.datepicker').datepicker({
                format: "MM-yyyy",
                minViewMode: "months",
                viewMode: "months",
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            }).datepicker("setDate", 'now');
        });
    </script>
}