@{
    ViewData["Title"] = "Monthly Report";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Monthly Report</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Monthly Report</li>
        </ol>
    </div>
}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-lightblue card-outline">
                <div class="card-header">
                    <h3 class="card-title font-color">
                        <i class="fas fa-user"></i>
                        Monthly Report
                    </h3>
                    <div style="float:right; display:flex;">
                        <div style="float:left;">
                            <h5 class="font-color"><span id="spnLastTime" style="font-size: 1.1rem;">Total Hours: 35:30 </span></h5>
                        </div>
                        <div style="float:right; margin:0px 5px 0px 5px">
                            <select class="form-control form-control-sm">
                                <option>Nitin</option>
                            </select>
                        </div>
                        <div style="float:right;">
                            <select class="form-control form-control-sm">
                                <option>November, 2022</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-sm table-bordered table-striped" id="tblMonthlyReport">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>FullName</th>
                                            <th>StartingTime</th>
                                            <th>ClosingTime</th>
                                            <th>Total Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script src="~/js/systemlog.js"></script>

    <script>
        $(document).ready(function () {
            SelectedMenu('menuAttendance', 'menuMonthlyReport');
            bindMRDataTable();
        });
    </script>
}