@using TimeTracker.Helper;
@using TimeTracker_Model
@{
    int roleId = 0;
    if (User != null)
    {
        roleId = User.GetLoginRole();
    }
}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item menu-open">
        <a asp-action="Index" asp-controller="Dashboard" class="nav-link" id="menuDashboard">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" id="menuMaster">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Masters
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            @if (roleId == (int)Roles.Admin)
            {
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="User" class="nav-link" id="menuUsers">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Setting" asp-action="Index" class="nav-link" id="menuSettings">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Settings</p>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a asp-controller="Holiday" asp-action="Index" class="nav-link" id="menuHolidayList">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Holiday List</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Salary" asp-action="Index" class="nav-link" id="menuSalary">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Salary</p>
                </a>
            </li>
            @if (roleId == (int)Roles.Admin)
            {
                <li class="nav-item">
                    <a asp-controller="Resource" asp-action="Index" class="nav-link" id="menuResource">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Resources</p>
                    </a>
                </li>
            }
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" id="menuAttendance">
            <i class="nav-icon fa-regular fa-calendar-check"></i>
            <p>
                Attendance
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-controller="SystemLog" asp-action="Index" class="nav-link" id="menuSystemLog">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Daily Report</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="SystemLog" asp-action="MonthlyReport" class="nav-link" id="menuMonthlyReport">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Monthly Report</p>
                </a>
            </li>
        </ul>
    </li>
</ul>