@using TimeTracker_Model;
@model TimeTracker.Models.Leave.AddLeaveViewModel
@{
    ViewData["Title"] = "Create Leave";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Create Leave</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Leave</a></li>
            <li class="breadcrumb-item active">CreateLeave</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-calendar-days"></i>
                    Create Leave
                </h3>
            </div>
            <form asp-action="Create" id="frmCreateLeave">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label asp-for="UserId" class="required">Username</label>
                            <select asp-for="UserId" asp-items="ViewBag.Users" class="form-control form-control-sm">
                                <option value="">Select Username</option>
                            </select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="LeaveFromDate" class="required">Leave Start</label>
                            <input asp-for="LeaveFromDate" type="date" class="form-control form-control-sm" min="@DateTime.Now.ToString("yyyy/MM/dd")">
                            <span asp-validation-for="LeaveFromDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="LeaveToDate" class="required">Leave End</label>
                            <input asp-for="LeaveToDate" type="date" class="form-control form-control-sm">
                            <span asp-validation-for="LeaveToDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Reason" class="required">Reason</label>
                            <textarea asp-for="Reason" class="form-control" rows="2"></textarea>
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-info theme-color" value="Submit" />
                    <button type="reset" class="btn btn-secondary ml-1">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            SelectedMenu('menuMaster', 'menuLeaveList');

            $('#LeaveFromDate').change(function () {
                var a = $("#LeaveFromDate").val();
                $("#LeaveToDate").attr({ "min": a });
            });
        });
    </script>
}