@using TimeTracker.Helper;
@using TimeTracker_Model;

@{
    ViewData["Title"] = "Leave";
    int roleId = 0;
    if (User != null)
    {
        roleId = User.GetLoginRole();
    }
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Leave</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Leave</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-wallet"></i>
                    Leave
                </h3>
                <h3 class="card-title ml-3">
                    Total Leave: <b class="font-color" id="totalLeave"></b>
                </h3>
                <h3 class="card-title ml-3">
                    Pending Leave: <b class="font-color" id="pendingLeave"></b>
                </h3>
                <div style="float:right; display:flex;">
                    @if (roleId == (int)Roles.Admin || roleId == (int)Roles.HR)
                    {
                        <div style="float:right;">
                            <select class="form-control form-control-sm" asp-items="ViewBag.Users" id="cmbUser">
                                <option value="0">Select User</option>
                            </select>
                        </div>
                    }
                        <div style="float:right; margin-left:5px;">
                            <a asp-action="Create" class="btn btn-block btn-info btn-sm theme-color">Create</a>
                        </div>
                </div>
            </div>
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-bordered table-striped" id="tblLeave">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Leave Start</th>
                                        <th>Leave End</th>
                                        <th>Apply On</th>
                                        <th>Status</th>
                                        <th>Paid</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="comformChange">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to change the status?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="hidden" id="statusId" />
            </div>
            <div class="modal-footer">
                @*enum Approved = 2, Declined = 3*@
                <button type="button" id="btnApproved" class="btn btn-success" data-dismiss="modal" value="2">Approved</button>
                <button type="button" id="btnDeclined" class="btn btn-danger" value="3">Declined</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalLeaveDetail">
    <div class="modal-dialog" style="max-width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="loadLeaveDetail">
            </div>
        </div>
    </div>
</div>

<p hidden id="roleId">@roleId</p>

@section Scripts{
    <script src="~/js/Leave.js"></script>

    <script>
        $(document).ready(function () {
            SelectedMenu('menuMaster', 'menuLeaveList');
            bindDataTable();
            displayLeaveCount();
        });
    </script>
}
