################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TimeTracker/.vs/TimeTracker
/TimeTracker/TimeTracker/obj
/TimeTracker/TimeTracker/Properties
