################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TimeTracker/.vs/TimeTracker
/TimeTracker/TimeTracker/obj
/TimeTracker/TimeTracker/Properties
/TimeTracker/TimeTracker/bin
/TimeTracker/TimeTracker_Data/obj
/TimeTracker/TimeTracker_Model/obj
/TimeTracker/TimeTracker_Repository/bin
/TimeTracker/TimeTracker_Repository/obj
/TimeTracker/TimeTracker_Data/bin
/TimeTracker/TimeTracker_Model/bin
/TimeTracker/TimeTracker/TimeTracker.csproj.user
/PublishTimeTrackerService
/TimeTracker/TimeTrackerService/bin
/TimeTracker/TimeTrackerService/obj
/TimeTracker/TimeTrackerService/TimeTrackerService.csproj.user
/TimeTracker/TimeTrackerService/appsettings.Development.json
/PublishTimeTrackerSystemLog
/TimeTracker/TimeTrackerService/1
/TimeTracker/TimeTrackerService/publish
