.card-header {
    padding: 7px 20px !important;
}

.card-title {
    margin-top: 5px !important;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.new-btn-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

/*.new-btn-success {
    color: #fff;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    box-shadow: none;
}*/

.new-btn-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.new-btn-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.alert {
    padding: 0.5rem 1.25rem !important;
}

.close {
    padding: 0.5rem 1.25rem !important;
}

.theme-color {
    background: #3c8dbc;
    border-color: #3c8dbc;
}

.font-color {
    color: #3c8dbc;
    border-color: #3c8dbc;
}

label {
    margin-bottom: 0.2rem !important;
    font-size: 15px !important;
}


.nav-treeview > .nav-item > .active {
    background-color: rgba(255,255,255,.1) !important;
    color: #fff !important;
}

.nav-sidebar > .nav-item.menu-open > .nav-link {
    background-color: #343a40 !important;
    color: #fff !important;
}

.nav-sidebar > .nav-item.menu-open > .active {
    background-color: #3c8dbc !important;
    color: #fff !important;
}


.image-areaAA {
    position: relative;
    display: inline-block;
}


.remove-image {
    display: none;
    position: absolute;
    top: 72px;
    right: 0px;
    border-radius: 50%;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
    font-size: 15px;
    background: white;
    color: #183153;
}

    .remove-image:hover {
        color: darkred;
        top: 72px;
        right: 0px;
    }

    .remove-image:active {
        color: #183153;
        top: 72px;
        right: 0px;
    }

.select2-container--bootstrap4 .select2-selection--multiple {
    min-height: 10px !important;
    overflow-x: hidden;
    height: 31px;
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: .875rem !important;
    color: #495057 !important;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    margin-top: 2px !important;
    line-height: 22px !important;
    overflow-x: hidden;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 4px;
}

.select2-container--bootstrap4 .select2-search {
    height: 22px !important;
}

.select2-selection__rendered {
    width: -moz-fit-content;
    height: fit-content;
    overflow-x: auto;

}

.rejected-status {
    color: #76101a !important;
    background-color: #e5bbbf !important;
    border-color: #f5c6cb !important;
}

.confirmed-status {
    color: #0c4218 !important;
    background-color: #9bc9a5 !important;
    border-color: #c3e6cb !important;
}

.selected-status {
    color: #0c4218 !important;
    background-color: #bed9c4 !important;
    border-color: #c3e6cb !important;
}

.inProcess-status {
    color: #523d00 !important;
    background-color: #f9e4a0 !important;
    border-color: #ffeeba !important;
}

.interview-status {
    color: #00274e !important;
    background-color: #afc8e1 !important;
    border-color: #ffeeba !important;
}

.notInterested-status {
    color: #201f1f !important;
    background-color: #dfe6e9 !important;
    border-color: #f5c6cb !important;
}

.callNotAttend-status {
    color: #2e005a !important;
    background-color: #d7baf5 !important;
    border-color: #f5c6cb !important;
}