@model TimeTracker.Models.User.AddUserViewModel
@using TimeTracker_Model;
@{
    ViewData["Title"] = "Create User";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Create User</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
            <li class="breadcrumb-item active">Create User</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-user-plus"></i>
                    Create User
                </h3>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="FullName">Full Name</label>
                            <input asp-for="FullName" type="text" class="form-control form-control-sm" placeholder="Full Name">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control form-control-sm" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="MacAddress">MAC Address</label>
                            <input asp-for="MacAddress" type="text" class="form-control form-control-sm" placeholder="MAC Address">
                            <span asp-validation-for="MacAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Username">Username</label>
                            <input asp-for="Username" type="text" class="form-control form-control-sm" placeholder="Username">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control form-control-sm" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Designation">Designation</label>
                            <input asp-for="Designation" type="text" class="form-control form-control-sm" placeholder="Designation">
                            <span asp-validation-for="Designation" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="JoiningDate">JoiningDate</label>
                            <input asp-for="JoiningDate" type="date" class="form-control form-control-sm" placeholder="JoiningDate">
                            <span asp-validation-for="JoiningDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="ContactNo">Contact No.</label>
                            <input asp-for="ContactNo" type="text" class="form-control form-control-sm" placeholder="Contact No.">
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="RoleId">Roles</label>
                            <select asp-for="RoleId" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<Roles>()">
                                <option value="">Select Role</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Gender">Gender</label>
                            <select asp-for="Gender" class="form-control form-control-sm">
                                <option value="true">Male</option>
                                <option value="false">Female</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="AvatarFile">Profile Pic</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input asp-for="AvatarFile" type="file" class="custom-file-input">
                                    <label class="custom-file-label" asp-for="AvatarFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-info theme-color" value="Submit" />
                    <button type="reset" class="btn btn-secondary ml-1">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            SelectedMenu('menuMaster', 'menuUsers');
        });
    </script>
}