@model List<TimeTracker.Models.SystemLog.SystemLogListModel>

@{
    ViewData["Title"] = "Dashboard";

    var logOn = Model.FirstOrDefault(a => a.Description.Equals("System Log On"));

    var data = Model.Skip(1).ToList();

    var Locked = data.Where(a => a.Description.Equals("System Locked")).Select(a => a.LogTime).ToList();
    var Unlocked = data.Where(a => a.Description.Equals("System Unlocked") || a.Description.Equals("System Log On")).Select(a => a.LogTime).ToList();
    TimeSpan aaa = new TimeSpan();

    for (int i = 0; i < Locked.Count; i++)
    {
        aaa += (Unlocked[i] - Locked[i]);
    }

    var todaysHour = DateTime.Now - logOn.LogTime - aaa;
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                    10
                    <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">@string.Format("{0:D2}:{1:D2}:{2:D2}", todaysHour.Hours,todaysHour.Minutes,todaysHour.Seconds)</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <p>@item.LogTime | @item.Description </p>
        }
    </div>
</div>