@model TimeTracker.Models.Resource.ResourceViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                    10
                    <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">123</span>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success swalDefaultSuccess">
    Launch Success Toast
</button>

<button type="button" class="btn btn-warning swalDefaultWarning">
    Launch Warning Toast
</button>

@section Scripts{
    <script>
        $(document).ready(function () {
            SelectedMenu('menuDashboard', '');
            bindDataTable();
        });

        $(function () {
            var Toast = Swal.mixin({
                toast: true,
                customClass: 'swal-toast-position',
                position: 'center',
                showConfirmButton: false,
                timer: 3000000
            });
            $('.swalDefaultSuccess').click(function () {
                Toast.fire({
                    icon: 'success',
                    title: 'deleted succesfully!'
                })
            });
            $('.swalDefaultWarning').click(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitrLorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
        });
    </script>
}