@*@model List<TimeTracker.Models.SystemLog.SystemLogListModel>*@
@model TimeTracker.Models.Setting.ResourceViewModel
@{
    ViewData["Title"] = "Dashboard";

}


<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                    10
                    <small>%</small>
                </span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Sales</span>
                <span class="info-box-number">760</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">New Members</span>
                <span class="info-box-number">123</span>
            </div>
        </div>
    </div>
    @*<div class="col-md-12">
        @foreach (var item in Model)
        {
            <p>@item.LogTime | @item.Description </p>
        }
    </div>*@
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-user-plus"></i>
                    Create User
                </h3>
            </div>
            <form asp-action="AddResource">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Designation">Designation</label>
                            <input asp-for="Designation" type="text" class="form-control form-control-sm" placeholder="Designation">
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="education">education</label>
                            <input asp-for="education" type="text" class="form-control form-control-sm" placeholder="education">
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="experience">experience</label>
                            <input asp-for="experience" type="text" class="form-control form-control-sm" placeholder="experience">
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="salary">salary</label>
                            <input asp-for="salary" type="text" class="form-control form-control-sm" placeholder="salary">
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="minAge">minAge</label>
                            <input asp-for="minAge" type="text" class="form-control form-control-sm" placeholder="minAge">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-info theme-color" value="Submit" />
                    <button type="reset" class="btn btn-secondary ml-1">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            SelectedMenu('menuDashboard', '');
            bindDataTable();
        });
    </script>
}