@model TimeTracker.Models.Salary.SalaryReportViewModel
@{
    ViewData["Title"] = "Create Salary Report";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Create Salary Report</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">SalaryReport</a></li>
            <li class="breadcrumb-item active">CreateSalaryReport</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-wallet"></i>
                    Create Salary Report
                </h3>
            </div>
            <form asp-action="CreateSalaryReport">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label asp-for="UserId" class="required">Username</label>
                            <select asp-for="UserId" asp-items="ViewBag.Users" class="form-control form-control-sm">
                                <option value="">Select Username</option>
                            </select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="SalaryMonth" class="required">Salary Month</label>
                            @*<input asp-for="SalaryDate" type="date" class="form-control form-control-sm" placeholder="Salary Date">*@
                            <input name="SalaryMonth" class="SalaryMonth form-control form-control-sm datepicker" id="SalaryMonth">
                            <span asp-validation-for="SalaryMonth" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Amount" class="required">Salary</label>
                            <input asp-for="Amount" type="text" class="form-control form-control-sm" placeholder="Amount" readonly>
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-info theme-color" value="Submit" />
                    <button type="reset" class="btn btn-secondary ml-1">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
</div>

<script src="~/js/salary.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            SelectedMenu('menuMainSalary', 'menuSalaryReport');

            $('.datepicker').datepicker({
                format: "MM-yyyy",
                minViewMode: "months",
                viewMode: "months",
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            }).datepicker("setDate", 'now');
        });
    </script>
}