@model TimeTracker.Models.Resource.ResourceViewModel
@{
    ViewData["Title"] = "Add Resource";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Resources</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Resource">Resources</a></li>
            <li class="breadcrumb-item active">Add Resource</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-user-plus"></i>
                    Add Resource
                </h3>
            </div>
            <form asp-action="AddResource">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Designation" class="required">Designation</label>
                            <select class="form-control form-control-sm" asp-for="Designation">
                                <option value="NET Developer">NET Developer</option>
                                <option value="Flutter">Flutter</option>
                                <option value="Android Engineer">Android Engineer</option>
                                <option value="Android App Designer">Android App Designer</option>
                                <option value="React JS">React JS</option>
                                <option value="React Native">React Native</option>
                                <option value="Node JS Engineer">Node JS Engineer</option>
                                <option value="Business Development Executive">Business Development Executive</option>
                                <option value="UI/UX Designer">UI/UX Designer</option>
                                <option value="UI/UX Developer">UI/UX Developer</option>
                                <option value="UX Designer">UX Designer</option>
                                <option value="UI Designer">UI Designer</option>
                                <option value="Human Resources Consultant">Human Resources Consultant</option>
                                <option value="Human Resource (HR) Manager">Human Resource (HR) Manager</option>
                                <option value="Employee Relations Manager">Employee Relations Manager</option>
                                <option value="Xamarin">Xamarin</option>
                                <option value="Director of Human Resource">Director of Human Resource</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="education" class="required">Education</label>
                            <input asp-for="education" type="text" class="form-control form-control-sm" value="1,2">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="experience" class="required">Experience (1=Any | 2=Fresher | 3=0-1 Year | 4=1-3 Years | 5=3-5 Years | 6=5-10 Years | 7=10+ Years)</label>
                            <input asp-for="experience" type="text" class="form-control form-control-sm" value="1">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="salary" class="required">Salary</label>
                            <input asp-for="salary" type="text" class="form-control form-control-sm" value="1">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="CityId" class="required">City Id</label>
                            <input asp-for="CityId" type="text" class="form-control form-control-sm" value="356">
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Token" class="required">Token</label>
                            <input asp-for="Token" type="text" class="form-control form-control-sm" onblur="setToken()">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-info theme-color" value="Submit" />
                    <button type="reset" class="btn btn-secondary ml-1">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            SelectedMenu('menuMaster', 'menuResource');
            $('#Token').val(localStorage.getItem('WCT_Token'));


            var settings = {
                "url": "https://prod.hirect.ai/hirect/candidate-service/candidates/search?searchDirect=true&cityId=275&qs=.NET Developer&pageNum=0&pageSize=10",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "authority": "prod.hirect.ai",
                    "accept": "application/json, text/plain, */*",
                    "accept-language": "en-US,en;q=0.9",
                    "content-type": "application/json;charset=UTF-8 application/json;charset=UTF-8",
                    "origin": "https://recruiter.hirect.in",
                    "referer": "https://recruiter.hirect.in/",
                    "region": "in",
                    "sec-ch-ua": "\"Google Chrome\";v=\"107\", \"Chromium\";v=\"107\", \"Not=A?Brand\";v=\"24\"",
                    "sec-ch-ua-mobile": "?0",
                    "sec-ch-ua-platform": "\"Windows\"",
                    "sec-fetch-dest": "empty",
                    "sec-fetch-mode": "cors",
                    "sec-fetch-site": "cross-site",
                    //"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36",
                    "x-appversion": "2.1.0",
                    "x-brand": "Windows",
                    "x-deviceid": "792de51e4d5be52a35f55f3570193fc3",
                    "x-idtoken": "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiZWIwMmY0OTgwYTg1NDZhMmFkOTFmMjNlNTM5OCIsImNyZWF0ZVRpbWUiOjE2NzMyNDEzNTEzNDQsImlhdCI6MTY3MzI0MTM1MSwiaXNzIjoiaGlyZWN0X2FwcF9pc3N1ZXIifQ.RkD5AS4cn6tys5SZE5tTU5xnPL6-_tuJ5xnEH6CJYw0",
                    "x-model": "10",
                    "x-os": "webapp",
                    "x-region": "in",
                    "x-role": "1",
                    "x-timestamp": "1669877252654",
                    "x-uid": "eb02f4980a8546a2ad91f23e5398"
                },
                "data": "{\"education\":[\"2\",\"3\"],\"experience\":[\"1\"],\"salary\":[\"1\"],\"gender\":0,\"minAge\":18}",
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        });

        function setToken() {
            localStorage.setItem('WCT_Token', $('#Token').val());
        }
    </script>
}