@using TimeTracker.Helper
@using TimeTracker_Model
@model List<TimeTracker_Model.Resources.ResourcesModel>

@{
    ViewData["Title"] = "Resources";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Resources</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Resources</li>
        </ol>
    </div>
}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-lightblue card-outline">
                <div class="card-header">
                    <h3 class="card-title font-color">
                        <i class="fa-solid fa-calendar-days"></i>
                        Resources
                    </h3>
                    <div style="float:right; display:flex;">

                        <div style="float:right;">
                            <select class="form-control form-control-sm" id="cmbExperience">
                                <option value="">Select Experience</option>
                                @{
                                for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i-Years</option>
                                }
                            }
                        </select>
                    </div>
                    <div style="float:right; margin-left:5px;">
                        <a asp-action="AddResource" class="btn btn-block btn-info btn-sm theme-color">Create</a>
                    </div>

                </div>

            </div>
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-bordered table-striped" id="tblUsers">
                                <thead>
                                    <tr>
                                        <th style="min-width: 120px">Name</th>
                                        <th style="min-width: 70px">Gender</th>
                                        <th style="min-width: 65px">Mobile</th>
                                        <th style="min-width: 120px">Email</th>
                                        <th style="min-width: 85px">Ecperience</th>
                                        <th style="min-width: 120px">Designation</th>
                                        <th style="min-width: 70px">Degree</th>
                                        <th style="min-width: 80px">Birth Date</th>
                                        <th style="min-width: 120px">Work Start Date</th>
                                        <th style="min-width: 150px">Comp. Exp.</th>
                                        <th style="min-width: 150px">City</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/resources.js"></script>

    <script>
        $(document).ready(function () {
            SelectedMenu('menuMaster', 'menuResource');
            bindDataTable();
        });
    </script>
}
