@using TimeTracker.Helper
@using TimeTracker_Model
@model TimeTracker.Models.Resource.FollowupAddViewModel

@{
    ViewData["Title"] = "Resources";

    int roleId = 0;
    if (User != null)
    {
        roleId = User.GetLoginRole();
    }
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Resources</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Resources</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-calendar-days"></i>
                    Resources
                </h3>
                <div style="float:right; display:flex;">
                    <div style="float:right;width: 130px;">
                        <input type="text" class="form-control form-control-sm" placeholder="Designation" id="cmbDesignation" />
                    </div>
                    <div style="float:right; margin-left:5px;width: 100px;">
                        <input type="text" class="form-control form-control-sm" placeholder="City" id="cmbCity" />
                    </div>
                    <div style="float:right; margin-left:5px;">
                        <select class="form-control select2bs4 select2-multi-update" multiple="multiple" data-placeholder="Hide Columns" style="width: 180px;" id="cmdColumn">
                            <option value="0">Name</option>
                            <option value="1">Gender</option>
                            <option value="2">Mobile</option>
                            <option value="3">Email</option>
                            <option value="4">Work Years</option>
                            <option value="5">Designation</option>
                            <option value="6">Status</option>
                            <option value="7">Degree</option>
                            <option value="8">DOB</option>
                            <option value="9">City</option>
                            <option value="10">Work Start Date</option>
                            <option value="11">PreferenceId</option>
                        </select>
                    </div>

                    <div style="float:right;margin-left:5px;">
                        <select class="form-control form-control-sm" id="cmbExperience">
                            <option value="-1">All</option>
                            <option value="0">Freshers</option>
                            @{
                                for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i-Years</option>
                                }
                            }
                        </select>
                    </div>

                    @if (roleId == (int)Roles.Admin)
                    {
                        <div style="float:right; margin-left:5px;">
                            <a asp-action="AddResource" class="btn btn-block btn-info btn-sm theme-color">Create</a>
                        </div>
                    }
                </div>

            </div>
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-bordered table-striped" id="tblResource">
                                <thead>
                                    <tr>
                                        <th style="min-width: 120px">Name</th>
                                        <th style="min-width: 70px">Gender</th>
                                        <th style="min-width: 65px">Mobile</th>
                                        <th style="min-width: 120px">Email</th>
                                        <th style="min-width: 85px">Experience</th>
                                        <th style="min-width: 120px">Designation</th>
                                        <th style="min-width: 110px">Status</th>
                                        <th style="min-width: 70px">Degree</th>
                                        <th style="min-width: 80px">Birth Date</th>
                                        <th style="min-width: 100px">City</th>
                                        <th style="min-width: 120px">Work Start Date</th>
                                        @*<th style="min-width: 150px">Comp. Exp.</th>*@
                                        <th style="min-width: 120px">Preference Id</th>
                                        <th style="min-width: 120px">Created on</th>
                                        <th style="min-width: 90px">Follow-up</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFollowup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Take a follow-up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frmFollowup">
                <div class="modal-body">
                    <input type="hidden" asp-for="PreferenceId" id="hdnPreferenceId" />
                    <div class="row mt-1">
                        <div class="form-group col-md-12">
                            <label asp-for="Remarks">Remarks</label>
                            <textarea asp-for="Remarks" class="form-control" rows="2"></textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="DateTime">Date Time</label>
                            <input asp-for="DateTime" type="datetime-local" class="form-control form-control-sm">
                            <span asp-validation-for="DateTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ResourceStatus">Status</label>
                            <select asp-for="ResourceStatus" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<ResourceStatus>()">
                                <option value="">Select Status</option>
                            </select>
                            <span asp-validation-for="ResourceStatus" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="submit" class="btn btn-info btn-sm theme-color">Add Follow-up</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFollowupList">
    <div class="modal-dialog" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Follow-up List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="loadFollowup">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/resources.js"></script>

    <script>
        $(document).ready(function () {
            SelectedMenu('menuMaster', 'menuResource');
            bindDataTable();
        });
    </script>
}
