@using TimeTracker.Helper
@using TimeTracker_Model
@model TimeTracker.Models.ResourcesRemarks.ResourcesRemarksViewModel

@{
    ViewData["Title"] = "Resources";
}

@section ContentHeader{
    <div class="col-sm-6">
        <h4 class="m-0">Resources</h4>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Resources</li>
        </ol>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-lightblue card-outline">
            <div class="card-header">
                <h3 class="card-title font-color">
                    <i class="fa-solid fa-calendar-days"></i>
                    Resources
                </h3>
                <div style="float:right; display:flex;">

                    <div style="float:right;">
                        <select class="form-control form-control-sm" id="cmbExperience">
                            <option value="">Select Experience</option>
                            @{
                                for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i-Years</option>
                                }
                            }
                        </select>
                    </div>
                    <div style="float:right; margin-left:5px;">
                        <a asp-action="AddResource" class="btn btn-block btn-info btn-sm theme-color">Create</a>
                    </div>

                </div>

            </div>
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-bordered table-striped" id="tblUsers">
                                <thead>
                                    <tr>
                                        <th style="min-width: 120px">Name</th>
                                        <th style="min-width: 70px">Gender</th>
                                        <th style="min-width: 65px">Mobile</th>
                                        <th style="min-width: 120px">Email</th>
                                        <th style="min-width: 85px">Ecperience</th>
                                        <th style="min-width: 120px">Designation</th>
                                        <th style="min-width: 70px">Degree</th>
                                        <th style="min-width: 80px">Birth Date</th>
                                        <th style="min-width: 120px">Work Start Date</th>
                                        <th style="min-width: 150px">Comp. Exp.</th>
                                        <th style="min-width: 150px">City</th>
                                        <th style="min-width: 150px">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-action="AddRemarks" method="post">
            <div class="modal-content">
                <div class="row mt-1">
                    <div class="form-group col-md-11 mx-auto">
                        <label asp-for="Remarks">Remarks</label>
                        <textarea asp-for="Remarks" class="form-control" rows="2"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-11 mx-auto">
                        <label asp-for="DateTime">Date Time</label>
                        <input asp-for="DateTime" type="datetime-local" class="form-control form-control-sm">
                        <span asp-validation-for="DateTime" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-11 mx-auto">
                        <label asp-for="preferenceId">Date Time</label>
                        <input asp-for="preferenceId" type="text" class="form-control form-control-sm">
                        <span asp-validation-for="preferenceId" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-info theme-color" value="Add Remarks" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/resources.js"></script>

    <script>
        $(document).ready(function () {
            SelectedMenu('menuMaster', 'menuResource');
            bindDataTable();
        });
    </script>
}
